.rd-container-xlarge {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.cover-img {
  transition: 0.3s;
  cursor: pointer;
}
.cover-img:hover {
  opacity: 0.8;
}
#mainmenu {
  background-color: #323232 !important;
  color: #fff;
  padding: 0;
  z-index: 100;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.nevbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.navbar-brand img {
  height: 30px;
}
.collapse ul li {
  margin: 0;
  padding: 0;
}
.collapse ul li a,
.navmenu a {
  color: #fff !important;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 5px 10px;
  display: block !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  margin: auto 5px;
}
.collapse ul li a:hover,
.navmenu a:hover,
.activemenu {
  background-color: #eb622c;
  border-radius: 4px;
}
.collapse ul li a span {
  display: none;
}
.navuser a {
  color: #fff !important;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 5px 10px;
  display: block !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  margin: auto;
}
.iconbar {
  color: #FFF;
  font-size: 2rem;
}
.kbd,
.rfm .p_chk {
  background: none !important;
}
.wp {
  background: #fff;
  border: none;
  border-radius: 6px;
}
a:hover {
  text-decoration: none !important;
  color: red;
}
#avatardesigner {
  border: 1px solid #ccc;
  padding: 0px !important;
  overflow: hidden;
}
#ct {
  padding: 10px;
}
#pt {
  height: auto;
}
.bmw .bm_h {
  border: none;
  border-radius: 4px;
}
.bmw .bm_h h2 a {
  margin-top: auto !important;
  margin-bottom: auto !important;
  line-height: 150%;
}
.t_f img {
  max-width: 100% !important;
}
@media (max-width: 576px) {
  .hsmall {
    display: none !important;
  }
  /* Responsive table
 ========================================================================== */
  /* Phone landscape and smaller */
  @media (max-width: 959px) {
    .uk-table-responsive,
    .uk-table-responsive tbody,
    .uk-table-responsive th,
    .uk-table-responsive td,
    .uk-table-responsive tr {
      display: block;
    }
    .uk-table-responsive thead {
      display: none;
    }
    .uk-table-responsive th,
    .uk-table-responsive td {
      width: auto !important;
      max-width: none !important;
      min-width: 0 !important;
      overflow: visible !important;
      white-space: normal !important;
    }
    .uk-table-responsive th:not(:first-child):not(.uk-table-link),
    .uk-table-responsive td:not(:first-child):not(.uk-table-link),
    .uk-table-responsive .uk-table-link:not(:first-child) > a {
      padding-top: 5px !important;
    }
    .uk-table-responsive th:not(:last-child):not(.uk-table-link),
    .uk-table-responsive td:not(:last-child):not(.uk-table-link),
    .uk-table-responsive .uk-table-link:not(:last-child) > a {
      padding-bottom: 5px !important;
    }
    .uk-table-justify.uk-table-responsive th,
    .uk-table-justify.uk-table-responsive td {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .uk-table tbody tr {
    transition: background-color 0.1s linear;
  }
}
.fl_icn_g a img,
.fl_icn_g a i {
  max-width: 100%;
}
.fl_icn a img,
.fl_icn a i {
  max-width: 100%;
  width: 100px;
}
.imgavatarhead {
  text-align: center;
}
.imgavatarhead img {
  border-radius: 10px !important;
  width: auto;
  background: transparent;
  max-width: 100%;
  padding: 5px;
}
.card-profile {
  padding: 3px 5px;
  display: block;
  text-decoration: none;
  border: 1px solid #eee;
  border-radius: 4px !important;
  width: 100%;
  margin: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  background: #222 !important;
}
.card-profile:hover {
  background: #333 !important;
  color: #fff;
  text-decoration: none;
}
.statusbord {
  padding: 3px;
  background-color: #ffffff5c;
  border-radius: 6px 6px 0 0;
}
.card-statusbord {
  padding: 3px 5px;
  text-decoration: none;
  border: none;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
}

#threadstamp img {
  position: absolute;
  top: 20px;
  max-width: 100px;
  right: 10%;
}
.bgcontent {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.px,
.pt,
.ps,
select {
  border: 1px solid #ddd;
  background: #fff;
  color: #000;
  border-radius: 4px;
}
.iconusermenu {
  color: Tomato;
  margin-right: 3px;
}

.data_info {
  padding: 0.5rem !important;
}
.data_info h2 {
  font-weight: 700;
}
.data_info p {
  font-size: 14px;
  color: #000;
}
.img_cont img {
  width: 100%;
  border: none;
}
.fl_i {
  width: auto;
  padding: 10px;
  text-align: left;
}
.fl,
.bm {
  border: none;
}
.bmw .bm_h a {
  font-size: 1.4rem;
  font-weight: 700;
}
